*{
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
footer{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
  }
  .footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  
  }
  
  .footer-col{
    flex-basis: 25%;
    padding: 10px;
  
  }
  .footer-logo{
    width: 50px;
    margin-bottom: 30px;
  }
  .footer-col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  font-size: 20px;
  }
  .footer-col:nth-child(2) h3{
    margin-top: 2px;
    margin-bottom: 50px;
  }
  .footer-col p{
  margin-bottom: 25px;
  text-decoration: none;
  font-size: 14px;
  list-style: none;
  }
  .footer-col a{
    text-decoration: none;
    color: white;
  }
  .footer-col p:hover{
    transition: color 0.4s ease-out;
    color: rgb(23, 119, 8);
    
    cursor: pointer;
  
  }
.footer-col ul{
      padding-left: 0;

}
  
  .footer-col ul li{
  
    list-style: none;
    margin-bottom: 15px;
    font-size: 14px;
        

    }
    .footer-col ul li:hover{
      transition: color 0.4s ease-out;
    color: rgb(23, 119, 8);
    
    cursor: pointer;
  
    }
  .footer-col ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  .footer-col ul li a:hover{
    transition: color 0.4s ease-out;
    color: rgb(23, 119, 8);
    
    cursor: pointer;
  
  }
  .contact-us li i{
   float: left;
   padding: 3px 8px 0 0;
  
  }
  .social-icons .fab, .social-icons .fa-solid{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    background: #fff;
    margin-right: 15px;
  }
  hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
  }
  .copyright{
    text-align: center;
    font-size: 15px;
  }
  .underline{
    width: 100%;
    height: 5px;
    background-color: #767676;
    position: absolute;
    top: 25px;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
  }
  .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  
  }
  @keyframes moving{
    0%{
      left: -20px;
    }
    100%{
      left: 100px;
    }
  }